<div id="frame">
	<!-- Side panel -->
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
				<img id="profile-img" [src]="'http://localhost:55627/Documents/Avatars/Admin/Thumb/'+avatar.image"
					*ngIf="avatar.image" class="img-avatar online" />

				<img id="profile-img" [src]="'/assets/img/avatars/admin.png'" *ngIf="!avatar.image"
					class="img-avatar online" />
				<p>{{this.username}}</p>
			</div>
		</div>
		<!-- Search name -->
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" (input)="onsearch()" [(ngModel)]="search_" placeholder="Search contacts..." />

		</div>

		<!-- Contacts -->
		<div id="contacts">
			<ul style="padding-left: 0px;">
				<li class="contact" *ngFor="let item of salesDetails ;let i=index;">
					<div class="wrap" (click)="msg_status();selected_sales_id(i);">
						<!-- <span class="contact-status online"></span> -->
						<h3 *ngIf="!item.isonline">
							<span class="contact-status busy"></span>
						</h3>
						<h3 *ngIf="item.isonline">
							<span class="contact-status online"></span>
						</h3>

						<img style="max-width: 50px; max-height: 50px;" *ngIf="item.image"
							[src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+item.image">
						<img style="max-width: 50px; max-height: 50px;" *ngIf="!item.image"
							[src]="'/assets/img/avatars/admin.png'">

						<div class="meta">
							<p class="name">{{item.salesName}}</p>
							<!-- <p class="preview">You just got LITT up, Mike.</p> -->
						</div>
					</div>
				</li>





			</ul>
		</div>
		<!-- <div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add
					contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div> -->
	</div>

	<!-- Header Content  -->
	<div class="content" style="padding-bottom: 29px;">
		<div class="contact-profile">
			<img class="real-image" *ngIf="this.salesDetails[this.ind].image"
				[src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+this.salesDetails[this.ind].image"
				alt="">
			<img class="no-image " *ngIf="!this.salesDetails[this.ind].image" [src]="'/assets/img/avatars/admin.png'">

			<p>{{this.salesDetails[this.ind].salesName}}</p>

			<div class="social-media" (click)="Status_info(status_info)" data-toggle="modal">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</div>
		</div>

		<!-- Chats -->
		<div class="messages">
			<!-- <span >Today </span>  -->
			<ul *ngFor="let chats of chatDetails;let i of index;">
				<!-- <span >{{chats.createdon}}  </span>  -->
				<!-- <span >Today </span>  -->

				<li class="replies"
					*ngIf="(this.selected_salesid == chats.senderId)  && (this.senderId == chats.receiverId ) && (this.selected_salesid == chats.createdby) && chats.seen">
					<img class="real-image" *ngIf="this.salesDetails[this.ind].image"
						[src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+this.salesDetails[this.ind].image"
						alt="">
					<img class="no-image " *ngIf="!this.salesDetails[this.ind].image"
						[src]="'/assets/img/avatars/admin.png'">

					<button [hidden]="!isreceiveddelete" (click)="onDelete(chats.id)" class="close setdelete"
						style="float: left;" type="button">
						<i class="fa fa-trash" aria-hidden="true"> </i>
					</button>
					<div>
						<p (click)="Delete_received()" style="margin-bottom: 0px;"> {{chats.msg}}
							<!-- <i class="fa fa-check-double" aria-hidden="true"></i> -->
						</p>
					</div>
					<!-- <span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon.slice(11)}}</span> -->
					<span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon}}</span>

					<!-- <div>
						<h6 style="font-size: smaller;	color: black; margin-left: 38px;">{{chats.createdon.slice(11)}}</h6>
					</div> -->
				</li>

				<!-- <div style="    float: right;">
					<span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon}}</span>
			   </div> -->

				<li class="sent"
					*ngIf="(this.user.id == chats.senderId) && (this.selected_salesid == chats.receiverId) && (this.user.id == this.chats.createdby)">

					<!-- <div> -->
					<img id="profile-img" [src]="'http://localhost:55627/Documents/Avatars/Admin/Thumb/'+avatar.image"
						*ngIf="avatar.image" class="img-avatar online" />
					<img id="profile-img" [src]="'/assets/img/avatars/admin.png'" *ngIf="!avatar.image"
						class="img-avatar online" />
					<!-- </div> -->
					<button [hidden]="!issentdelete" (click)="onDelete(chats.id)" class="close setdelete"
						style="float: right;" type="button">
						<i class="fa fa-trash" aria-hidden="true"> </i>
					</button>

					<div>
						<p (click)="Delete_sent()"  style="margin-bottom: 0px;">{{chats.msg}}
						</p>
					</div>

					<!-- <span style="font-size: 13px;	float: right;	color: black;">{{chats.createdon.slice(11)}}</span> -->
					<!-- <span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon}}</span> -->

					<!-- <div>
						<h6 style=" font-size: smaller;	color: black; margin-left: 38px;">{{chats.createdon.slice(11)}}</h6>
					</div> -->

				</li>
				<div style="    float: right;margin-right: 28px;"
					*ngIf="(this.user.id == chats.senderId) && (this.selected_salesid == chats.receiverId) && (this.user.id == this.chats.createdby)">
					<!-- <div> -->
					<span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon}}</span>
					<!-- </div> -->
					<!-- Sent  - Single tick gray-->
					<i *ngIf="chats.status == '0' && !chats.seen" class="fa fa-check" aria-hidden="true"
						style="color: #6c757d;"></i>
					<!-- Received - Double tick gray -->
					<i *ngIf="chats.status == '1' && !chats.seen" class="fa fa-check" aria-hidden="true"
						style="color: #6c757d;"></i>
					<i *ngIf="chats.status == '1' && !chats.seen " class="fa fa-check" aria-hidden="true"
						style="color: #6c757d;"></i>
					<!-- Read  Double - tick black-->
					<i *ngIf="chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
					<i *ngIf="chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
				</div>

			</ul>


			<ul *ngFor="let msg of messages;">
				<li class="sent"
					*ngIf="msg.type == 'sent' && msg.senderId == this.senderId && msg.receiverId == this.salesDetails[this.ind].id">
					<img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
					<p>{{msg.message}} </p>
					<i class="fa fa-check" aria-hidden="true" style="color: #6c757d;"></i>
					<span class="time_date"> {{msg.date | date:'medium'}}</span>
				</li>
			</ul>
			<div style="text-align: center;" *ngFor="let chats of chatDetails;let i of index;">
				<span class="badge badge-pill badge-light"
					*ngIf="this.unreadChats.length > 0 && (this.selected_salesid == chats.senderId)  && (this.senderId == chats.receiverId ) && (this.selected_salesid == chats.createdby) && !chats.seen">Unread
					Messages</span>
			</div>
			<ul *ngFor="let chats of chatDetails;let i of index;">

				<li class="replies"
					*ngIf="(this.selected_salesid == chats.senderId)  && (this.senderId == chats.receiverId ) && (this.selected_salesid == chats.createdby) && !chats.seen">
					<img class="real-image" *ngIf="this.salesDetails[this.ind].image"
						[src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+this.salesDetails[this.ind].image"
						alt="">
					<img class="no-image " *ngIf="!this.salesDetails[this.ind].image"
						[src]="'/assets/img/avatars/admin.png'">

					<button [hidden]="!isreceiveddelete" (click)="onDelete(chats.id)" class="close setdelete"
						style="float: left;" type="button">
						<i class="fa fa-trash" aria-hidden="true"> </i>
					</button>
					<div>
						<p style="margin-bottom: 0px;" (click)="Delete_received()"> {{chats.msg}}
							<!-- <i class="fa fa-check-double" aria-hidden="true"></i> -->
						</p>
					</div>
					<!-- <span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon.slice(11)}}</span> -->
					<span style="font-size: 13px;float: left;color: black;margin-left: 40px;">{{chats.createdon}}</span>

					<!-- <div>
						<h6 style="font-size: smaller;	color: black; margin-left: 38px;">{{chats.createdon.slice(11)}}</h6>
					</div> -->
				</li>
			</ul>

			<!-- <div style="text-align: center;" *ngFor="let msg of messages;">
				<span *ngIf="msg.type == 'received' && msg.senderId == this.salesDetails[this.ind].id"
					class="badge badge-pill badge-light">Unread Messages</span>
			</div> -->

			<ul *ngFor="let msg of messages;">
				<!-- <li class="replies" *ngIf="msg.type == 'received'"> -->
				<li class="replies" *ngIf="msg.type == 'received' && msg.senderId == this.salesDetails[this.ind].id">
					<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
					<p> {{msg.message}} </p>
				</li>
				<div>
				<span class="time_date" style="margin-left: 50px;
					font-size: small;"> {{msg.date | date:'medium'}} </span>
				</div>
			</ul>
		</div>


		<!-- Input messages -->
		<div class="message-input">
			<div class="wrap">
				<input type="text" [value]="txtMessage" (input)="txtMessage=$event.target.value"
					(keydown.enter)="sendMessage(this.salesDetails[this.ind].id);msg_status();"
					placeholder="Write your message..." />
				<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
				<button class="submit" (click)="sendMessage(this.salesDetails[this.ind].id);msg_status();"><i
						class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>



</div>







<ng-template #status_info let-modal>
	<div class="col-md-14">
		<div class="card-group">
			<div class=" p-2">
				<div class="card-body">
					<div>
						<!-- <ul> -->
						<div class="form-inline">
							<i class="fa fa-check" aria-hidden="true" style="color: #6c757d;margin-right: 25px;"></i>
							<p>Sent</p>
						</div>

						<div class="form-inline">
							<i class="fa fa-check" aria-hidden="true" style="color: #6c757d;"></i>
							<i class="fa fa-check" aria-hidden="true" style="color: #6c757d;margin-right: 12px;"></i>
							<p>Delivered</p>
						</div>

						<div class="form-inline">
							<i class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
							<i class="fa fa-check" aria-hidden="true" style="color: #000000; margin-right: 12px;"></i>
							<p>Read</p>
						</div>
						<!-- </ul> -->
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>