<app-header [navbarBrandRouterLink]="['/admin/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/purple.png',width: 200, height: 53, alt: 'Sales Tracking System'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo/NewLogo.jpg', width: 30, height: 30}">
  <!-- [navbarBrandFull]="{src: 'assets/img/brand/purple.png',width: 200, height: 53, alt: 'Sales Tracking System'}" -->
  <!-- [navbarBrandFull]="{src: 'assets/img/logo/New_Logo.png',width: 60, height: 55, alt: 'Sales Tracking System'}" -->

  <!-- [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'"> -->

  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link"  tooltip="New Message"  href="/admin/chat"><i class="icon-speech"></i>
        <span data-toggle="tooltip" data-placement="left" tooltip="New Message"
          *ngIf="assignedActivity > 0" class="badge badge-pill badge-danger blinking ">{{assignedActivity}}
        </span>
      </a>
    </li> -->

    <li class="nav-item d-md-down-none">
      <a tooltip="Activity" class="nav-link" href="/admin/activity/currentactivity"><i class="icon-bell"></i><span
          class="badge badge-pill badge-danger"></span></a>
    </li>
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="/admin/activity/pastactivity"><i class="icon-list"></i></a>
    </li> -->
    <!-- Location -->
    <li class="nav-item d-md-down-none">
      <a tooltip="Map" class="nav-link" href="/admin/map"><i class="icon-location-pin"></i></a>
    </li>


    <li class="nav-item d-md-down-none">
      Welcome {{username}}
    </li>

    <!-- Profile -->

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <!-- <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/> -->
        <img [src]="'http://localhost:55627/Documents/Avatars/Admin/Thumb/'+avatar.image" *ngIf="avatar.image"
          class="img-avatar" />

        <img [src]="'/assets/img/avatars/admin.png'" *ngIf="!avatar.image" class="img-avatar" />
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>

        <a class="dropdown-item" data-toggle="modal" data-toggle="modal" (click)="openModal(template)"><i
            class="fa fa-user"></i> Profile</a>

        <!--        UPDATE ADMIN PROFILE     -->

        <ng-template #template>
          <div class="modal-header">
            <div class="card-header">
              <strong>Admin Profile</strong>
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">

              <div class="form-group col-md-6">
                <label for="image">Profile Pic</label><br>

                <!-- Profile pic-->
                <img [src]="'http://localhost:55627/Documents/Avatars/Admin/Thumb/'+profile_pic.image"
                  *ngIf="(profile_pic.image && !pro.ImageData)" class="profile-pic">

                <!-- Default image -->
                <img [src]="'/assets/img/avatars/Default_Images/No_image.png'"
                  *ngIf="(!profile_pic.image && !pro.ImageData) " height="100px" width="100px">

                <!-- Display new selected pic to upload -->
                <img height="100px" width="100px" [src]="pro.ImageData" *ngIf="pro.ImageData">

              </div>

              <div class="form-group">
                <button class="btn btn-danger" (click)="delete_profile_pic(register.id)">Remove</button>

                <!-- <button style="display:block;width:120px; height:30px;"
                  onclick="document.getElementById('fileupload').click()">Upload</button> -->

                <input class="btn btn-success" type="file" id="fileupload" name="image"
                  (change)="handleFileInput($event.target.files)" [(ngModel)]="updateProfile.image" />
              </div>


              <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="username" class="form-control" id="username" placeholder="Enter the Username"
                  [(ngModel)]="updateProfile.username" name="username">
              </div>

              <div class="form-group col-md-6">
                <div class="input-group-prepend">
                  <label for="gender">Gender</label>
                </div>
                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1" id="inline-radios">
                    <input class="form-check-input" type="radio" name="gender" id="male"
                      [(ngModel)]="updateProfile.gender" value="Male">
                    <label class="form-check-label" for="Male">Male</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="gender" id="female"
                      [(ngModel)]="updateProfile.gender" value="Female">
                    <label class="form-check-label" for="Female">Female</label>
                  </div>
                </div>
              </div>


              <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email"
                  [(ngModel)]="updateProfile.email" name="email" disabled>
              </div>

              <div class="form-group col-md-6">
                <label for="mobile">Mobile</label>
                <input type="mobile" class="form-control" id="mobile" placeholder="Enter the mobile"
                  [(ngModel)]="updateProfile.mobile" name="mobile">
              </div>

              <div *ngIf="user == 2" class="form-group col-md-12">
                <label>Company Name</label>
                <input type="text" class="form-control" id="companyname" placeholder="Enter Companyname"
                  [(ngModel)]="updateProfile.companyname" name="companyname">
              </div>
              <div *ngIf="user == 2" class="form-group col-md-12">
                <label>Address</label>
                <textarea type="textarea" class="form-control" id="address" placeholder="Enter Company address"
                  [(ngModel)]="updateProfile.address" name="address">
                </textarea>
              </div>

              <!-- <div  class="form-group col-md-12">
                <label>Company Name</label>
                <input type="text" class="form-control" id="companyname" placeholder="Enter Companyname"
                  [(ngModel)]="updateProfile.companyname" name="companyname">
              </div>   
              <div  class="form-group col-md-12">
                <label>Address</label>
                <textarea type="textarea" class="form-control" id="address" placeholder="Enter Company address"
                  [(ngModel)]="updateProfile.address" name="address">
                </textarea>
              </div> -->

            </div>


            <!-- <div class="form-row">
              <div class="form-group col-md-6">
                <label for="mobile">Mobile</label>
                <input type="mobile" class="form-control" id="mobile" placeholder="Enter the mobile"
                  [(ngModel)]="updateProfile.mobile" name="mobile">
              </div>
            </div> -->

            <div class="card-footer">
              <button type="submit" style="float: right;" class="btn btn-sm btn-success" (click)="updateadminProfile()"
                (click)="modalRef.hide()"><i class="fa fa-dot-circle-o"></i> Update</button>
            </div>
          </div>
        </ng-template>

        <div class="dropdown-header text-center"><strong>Settings</strong></div>



        <a class="dropdown-item" data-toggle="modal" data-toggle="modal" (click)="changePasswordModal(template2)"><i
            class="fa fa-key"></i>Change Password</a>

        <div class="divider"></div>
        <a *ngIf="user == 1 || user == 2" class="dropdown-item" href="/admin/register"><i class="fa fa-user-plus"></i>
          Admin Register</a>
        <a class="dropdown-item" href="/admin/sales-register"><i class="fa fa-user-plus"></i> Sales Register</a>

        <!-- <a class="dropdown-item" data-toggle="modal"  data-toggle="modal" (click)="openModal(template1)"><i class="fa fa-user"></i> Sales Register</a> -->




        <!-- change password -->
        <ng-template #template2>
          <div class="modal-header">
            <div class="card-header">
              <strong>Change Password</strong>
            </div>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="oldpassword">Old Password</label>
                <input type="password" class="form-control" id="oldpassword" placeholder="Old Password"
                  name="oldpassword" [(ngModel)]="changePassword.oldpassword">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="oldpassword">New Password</label>
                <input type="password" class="form-control" id="newpassword" placeholder="New Password"
                  name="newpassword" [(ngModel)]="changePassword.newpassword">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="confirmpassword">Confirm Password</label>
                <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password"
                  name="confirmpassword" [(ngModel)]="changePassword.confirmpassword">
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success" (click)="changepassword(changePassword.id)"><i
                  class="fa fa-dot-circle-o"></i>Submit</button>
            </div>
          </div>
        </ng-template>




        <a class="dropdown-item" href="admin/login" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <!-- Side nav navbar -->
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main bg">
    <cui-breadcrumb>

    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Option Menu -->
  <!-- <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
  
      <tab>
        <ng-template tabHeading><i class="icon-settings"></i></ng-template>
        <div class="p-3">


          <div class="aside-options">
            <div class="clearfix mt-4"> 
            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </app-aside> -->
</div>

<!-- Footer -->
<app-footer>
  <span><a href="admin/dashboard">Sale Tracking System</a> &copy; 2020 </span>
  <span class="ml-auto">Powered by <a href="admin/dashboard">AV</a></span>
</app-footer>