<div class="app-body bg">
    <main class="main d-flex align-items-center" style="background-color: rgba(0, 0, 0,0.7);width: 100%;">
    <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4 reg-form">
                  <h1>Sales Register</h1>
  
                  <!-- <div class="form-group row">
                    <label class="col-md-3 col-form-label" for="file-input">Upload Profile Pic</label>
                    <div class="col-md-9">
                      <input class="form-control" type="file" id="image" name="imageSrc"   accept="image/*" (change)="handleInputChange($event)">             
                    </div>
                  </div> -->
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Username" [(ngModel)]="register.salesName"  name="username"  >
                  </div>
                 
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Email"  [(ngModel)]="register.email"  name="email" >
                  </div>
  
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password"  [(ngModel)]="register.password"  name="password" >
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Repeat password"  [(ngModel)]="register.cpassword"  name="cpassword" >
                  </div>
              </div>
              <!-- <div class="card-footer p-4 reg-footer">
                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-block btn-success" (click)="submitForm()">Register</button>
                  </div>
                </div>
              </div> -->
  
              <div class="card-footer p-4 reg-footer">
                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-block btn-success" (click)="submitForm()">Register</button>
                  </div>
                  <div class="col-6">
                    <button type="button" class="btn btn-block btn-danger" (click)="back()">Back</button>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  
  
  
  