<div class="animated fadeIn">
  <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-success">
        <div class="card-body pb-0">
          <!-- <button type="button" class="btn btn-transparent p-0 float-right">
            <i class="icon-location-pin"></i>
          </button> -->
          <div>{{totalProduct}}</div>
          <div>Total Product</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
          </div>
        <div>{{totalClient}}</div>
        <div>Total Client</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-danger">
      <div class="card-body pb-0">
        <div class="btn-group float-right" dropdown>
        </div>
        <div>{{totalActivity}}</div>
        <div>Total Activity</div>
      </div>
      <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
      </div>
    </div>
  </div>



</div>



<!-- 
<div class="container" style="background-color: blanchedalmond;">
  <h3 class=" text-center chat_header">Chat Application</h3>
  <div class="messaging">
    <div class="inbox_msg">
      <div class="mesgs">
        <div class="msg_history">
          <div *ngFor="let msg of messages;">

          <div class="incoming_msg" *ngIf="msg.type == 'received'">
            <div class="incoming_msg_img"> </div>
            <div class="received_msg">
              <div class="received_withd_msg">
                <p>
                 {{msg.message}} 
                </p>
                <span class="time_date"> {{msg.date | date:'medium'}} </span>
              </div>
            </div>
          </div>

          <div class="outgoing_msg" *ngIf="msg.type == 'sent'">
            <div class="sent_msg">
              <p>
                  {{msg.message}} 
              </p>
              <span class="time_date"> {{msg.date | date:'medium'}}</span>
            </div>
          </div>
        </div>
        </div>

        <div class="type_msg">
          <div class="input_msg_write">
            <input type="text" class="write_msg" [value]="txtMessage" style="background-color: dimgrey;"
            (input)="txtMessage=$event.target.value" (keydown.enter)="sendMessage()" placeholder="Type a message" />
            <button class="msg_send_btn" type="button"  (click)="sendMessage()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</div> -->
