<app-header [navbarBrandRouterLink]="['/sales/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/purple.png', width: 200, height: 53, alt: 'Sales Tracking System'}"
  [navbarBrandMinimized]="{src: 'assets/img/logo/NewLogo.jpg', width: 30, height: 30}" [sidebarToggler]="'lg'">

  <!-- [navbarBrandFull]="{src: 'assets/img/brand/purple.png', width: 200, height: 53, alt: 'Sales Tracking System'}" -->
  <!-- <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="/sales/dashboard">Home</a>
    </li>
  </ul> -->

  <ul class="nav navbar-nav ml-auto">


    <li class="nav-item d-md-down-none nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" (click)="toggleChat();msg_status()" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false"><i class="icon-speech"></i>
      </a>

      <div class="dropdown-menu-right" [hidden]="!showchat" *dropdownMenu aria-labelledby="simple-dropdown"
        style=" position: absolute;width: 250px;">

        <div class="col-md-8 col-xl-6 chat">
          <div class="card" style="width: 302px;">
            <div class="card-header msg_head" style=" background-color: blueviolet;">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
                  <!-- <img [src]="'http://localhost:55627/Documents/Avatars/Admin/Thumb/'+avatar.image" *ngIf="avatar.image"
                  class="rounded-circle user_img" />
        
                <img [src]="'/assets/img/avatars/admin.png'" *ngIf="!avatar.image" class="rounded-circle user_img" />
									<span class="online_icon"></span> -->
                </div>
                <div class="user_info">
                  <span>Admin</span>
                </div>
                <div *ngFor="let item of status ;let i=index;" style="margin-left: 56px;">
                  <h6 *ngIf="!item.isonline">
                    <span class="status orange"></span>
                    Offline
                  </h6>
                  <h6 *ngIf="item.isonline">
                    <span class="status green"></span>
                    Online
                  </h6>
                </div>
              </div>

            </div>
            <hr style="margin-top: 0px;
            margin-bottom: 0px;">
            <div style="overflow-y: auto;">

              <div class="card-body msg_card_body" *ngFor="let chats of chatDetails;"
                style="background-color: slategray;">

                <!-- <div class="d-flex justify-content-start mb-4" -->
                <div class="d-flex justify-content-start mb-4"
                  *ngIf="(this.userchat.createdby == chats.senderId)  && (this.userchat.id == chats.receiverId ) && (this.userchat.createdby == chats.createdby)">

                  <div class="img_cont_msg" style="max-width: 100%;">
                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                      class="rounded-circle user_img_msg">
                  </div>
                  <button [hidden]="!isreceiveddelete" (click)="onDelete(chats.id)" class="close setdelete"
                    style="float: left;margin: 0;" type="button">
                    <i class="fa fa-trash" aria-hidden="true"> </i>
                  </button>
                  <div class="msg_cotainer"  (click)="Delete_received()">
                    <p> {{chats.msg}}
                    </p>
                    <!-- <span class="msg_time">{{msg.date | date:'medium'}}</span> -->
                    <!-- <span class="msg_time" style="font-size: smaller;	color: black;">{{chats.createdon.slice(11)}}</span> -->
                    <!-- <span class="msg_time" style="font-size: smaller;	color: black;">{{chats.createdon}}</span> -->
                    <div>
                      <span
                        *ngIf="(this.userchat.createdby == chats.senderId)  && (this.userchat.id == chats.receiverId ) && (this.userchat.createdby == chats.createdby)"
                        class="msg_time" style="font-size: smaller;	color: black;">{{chats.createdon}}</span>
                    </div>
    
                  </div>

                  <!-- <div>
                    <h6 style="font-size: smaller;	color: black; margin-left: 38px;">{{chats.createdon.slice(11)}}</h6>
                  </div> -->
                </div>
               

                <div class="d-flex justify-content-end mb-4"
                  *ngIf="(this.userchat.id == chats.senderId) && (this.userchat.createdby == chats.receiverId) && (this.userchat.id == this.chats.createdby)">

                  <div class="msg_cotainer_send" style="max-width: 100%;" (click)="Delete_sent()">
                    <p> {{chats.msg}}
                      <!-- <i *ngIf="!chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
				         		<i *ngIf="chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
                     <i *ngIf="chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i> -->


                    </p>
                    <!-- <span class="msg_time">{{msg.date | date:'medium'}}</span> -->
                    <!-- <span class="msg_time" style="font-size: smaller;	color: black;">{{chats.createdon.slice(11)}}</span> -->
                    <div
                      *ngIf="(this.userchat.id == chats.senderId) && (this.userchat.createdby == chats.receiverId) && (this.userchat.id == this.chats.createdby)">
                      <span class="msg_time" style="font-size: smaller;	color: black;">{{chats.createdon}}</span>
                      <!-- Sent  - Single tick gray-->
                      <i *ngIf="chats.status == '0' && !chats.seen" class="fa fa-check" aria-hidden="true"
                        style="color: #6c757d;"></i>
                      <!-- Received - Double tick gray -->
                      <i *ngIf="chats.status == '1' && !chats.seen" class="fa fa-check" aria-hidden="true"
                        style="color: #6c757d;"></i>
                      <i *ngIf="chats.status == '1' && !chats.seen " class="fa fa-check" aria-hidden="true"
                        style="color: #6c757d;"></i>

                      <!-- Read  Double - tick black-->
                      <i *ngIf="chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
                      <i *ngIf="chats.seen" class="fa fa-check" aria-hidden="true" style="color: #000000;"></i>
                    </div>

                  </div>

                  <button [hidden]="!issentdelete" (click)="onDelete(chats.id)" class="close setdelete"
                    style="float: right; margin: 0;" type="button">
                    <i class="fa fa-trash" aria-hidden="true"> </i>
                  </button>

                  <div class="img_cont_msg">
                    <img [src]="'/assets/img/avatars/admin.png'"  class="rounded-circle user_img_msg">
                  </div>
                  <!-- <div>
                    <h6 style="font-size: smaller;	color: black; margin-left: 38px;">{{chats.createdon.slice(11)}}</h6>
                  </div> -->

                </div>

              </div>

              <div class="card-body msg_card_body" *ngFor="let msg of messages;" style="background-color: slategray;">
                <div class="d-flex justify-content-start mb-4" *ngIf="msg.type == 'received'">
                  <div class="img_cont_msg">
                    <img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg"
                      class="rounded-circle user_img_msg">
                  </div>
                  <div class="msg_cotainer">
                    <p> {{msg.message}} </p>
                    <span class="msg_time" style="color: black;">{{msg.date | date:'medium'}}</span>
                  </div>
                </div>

                <div class="d-flex justify-content-end mb-4" *ngIf="msg.type == 'sent'">
                  <div class="msg_cotainer_send">
                    <p> {{msg.message}} </p>
                    <i class="fa fa-check" aria-hidden="true" style="color: #6c757d;"></i>
                    <span class="msg_time" style="color: black;">{{msg.date | date:'medium'}}</span>
                  </div>
                  <div class="img_cont_msg">
                    <img [src]="'/assets/img/avatars/admin.png'" class="rounded-circle user_img_msg">
                  </div>
                </div>
              </div>

            </div>
            <div class="card-footer" style="background-color: slategray;">
              <div class="input-group" style="background-color: white;">
                <div class="input-group-append" style="background-color: slategray;">
                  <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea name="" [value]="txtMessage" (input)="txtMessage=$event.target.value"
                  (keydown.enter)="sendMessage()" class="form-control type_msg"
                  placeholder="Type your message..."></textarea>
                <div class="input-group-append" style="background-color: slategray;">
                  <span class="input-group-text send_btn" (click)="sendMessage()"><i class="fas fa-location-arrow"
                      style="color: #4dbb74;"></i></span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </li>


    <li class="nav-item d-md-down-none">
      <a class="nav-link " href="/sales/activity/currentactivity"><i class="icon-bell"></i>
        <span data-toggle="tooltip" data-placement="left" tooltip="{{assignedActivity}} Activities are assigned to you."
          *ngIf="assignedActivity > 0" class="badge badge-pill badge-danger blinking ">{{assignedActivity}}</span></a>
    </li>

    <li class="nav-item d-md-down-none">
      Welcome {{username}}
    </li>

    <!-- Profile -->

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <img [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+ salesavatar.image"
          *ngIf="salesavatar.image" class="img-avatar" alt="admin@bootstrapmaster.com" />
        <img [src]="'/assets/img/avatars/admin.png'" *ngIf="!salesavatar.image" class="img-avatar"
          alt="admin@bootstrapmaster.com" />

      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Account</strong></div>

        <a class="dropdown-item" data-toggle="modal" data-toggle="modal" (click)="openModal(template)"><i
            class="fa fa-user"></i> Profile</a>

        <div class="dropdown-header text-center"><strong>Settings</strong></div>

        <a class="dropdown-item" data-toggle="modal" data-toggle="modal" (click)="changePasswordModal(template1)"><i
            class="fa fa-user"></i>Change Password</a>

        <div class="divider"></div>
        <a class="dropdown-item" href="sales/login" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>

<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="SalesnavItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <main class="main bg">
    <cui-breadcrumb>

    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

<!-- Footer -->
<app-footer>
  <span><a href="sales/dashboard">Sale Tracking System</a> &copy; 2020 </span>
  <span class="ml-auto">Powered by <a href="sales/dashboard">AV</a></span>
</app-footer>












<!-- PROFILE -->

<ng-template #template>
  <!-- <div style="overflow-y: scroll;height: calc(100vh - 74px);"> -->
  <div class="modal-header">
    <div class="card-header">
      <strong>Sales Profile</strong>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="image">Profile Pic</label><br>
        <!-- Profile pic-->
        <img [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+profile_pic.image"
          *ngIf="(profile_pic.image && !pro.ImageData)" class="profile-pic">

        <!-- Default image -->
        <img [src]="'/assets/img/avatars/admin.png'" *ngIf="(!profile_pic.image && !pro.ImageData) " height="100px"
          width="100px">

        <!-- Display new selected pic to upload -->
        <img height="100px" width="100px" [src]="pro.ImageData" *ngIf="pro.ImageData">

      </div>

      <div class="form-group">
        <button class="btn btn-danger" (click)="delete_profile_pic(user.id)">Remove</button>
        <input class="btn btn-success" type="file" id="fileupload" name="image"
          (change)="handleFileInput($event.target.files)" [(ngModel)]="updateProfile.image" />


      </div>

      <div class="form-group col-md-6">
        <label for="salesName">Username</label>
        <input type="sales" class="form-control" id="salesName" placeholder="Enter the Username"
          [(ngModel)]="updateProfile.salesName" name="salesName">
      </div>

      <div class="form-group col-md-6">
        <div class="input-group-prepend">
          <label for="gender">Gender</label>
        </div>
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1" id="inline-radios">
            <input class="form-check-input" type="radio" name="gender" id="male" [(ngModel)]="updateProfile.gender"
              value="Male">
            <label class="form-check-label" for="Male">Male</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="gender" id="female" [(ngModel)]="updateProfile.gender"
              value="Female">
            <label class="form-check-label" for="Female">Female</label>
          </div>
        </div>
      </div>


      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="email" [(ngModel)]="updateProfile.email"
          name="email" disabled>
      </div>

      <div class="form-group col-md-6">
        <label for="mobile">Mobile</label>
        <input type="mobile" class="form-control" id="mobile" placeholder="Enter the mobile"
          [(ngModel)]="updateProfile.mobile" name="mobile">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="addrress">Address</label>
        <textarea id="address" name="address" [(ngModel)]="updateProfile.address" rows="5" class="form-control"
          placeholder="Enter your address"></textarea>
      </div>
      <div class="form-group col-md-6">
        <label for="adharcard">Adhar Card</label>
        <input type="text" class="form-control" id="adharcard" placeholder="Enter Adhar Card Detail"
          [(ngModel)]="updateProfile.adharcard" name="adharcard" required>
      </div>
    </div>

    <!-- <div style="justify-content: center;display: flex;">
           <button type="submit" class="btn btn-primary" (click)="updateadminProfile()">Update</button> 
         </div> -->

    <div class="card-footer">
      <button style="float: right;" type="submit" class="btn btn-sm btn-success" (click)="updatesalesProfile()"><i
          class="fa fa-dot-circle-o"></i> Update</button>
    </div>
  </div>
  <!-- </div> -->
</ng-template>



<!-- change password -->
<ng-template #template1>
  <div class="modal-header">
    <div class="card-header">
      <strong>Change Password</strong>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="oldpassword">Old Password</label>
        <input type="password" class="form-control" id="oldpassword" placeholder="Old Password" name="oldpassword"
          [(ngModel)]="changePassword.oldpassword">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="oldpassword">New Password</label>
        <input type="password" class="form-control" id="newpassword" placeholder="New Password" name="newpassword"
          [(ngModel)]="changePassword.newpassword">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="confirmpassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" placeholder="Confirm Password"
          name="confirmpassword" [(ngModel)]="changePassword.confirmpassword">
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-success" (click)="changepassword(changePassword.id)"><i
          class="fa fa-dot-circle-o"></i>Submit</button>
    </div>
  </div>
</ng-template>