.bg {
    background-image: url("/assets/img/brand/sts2.png");
    /* background-color: darkslategrey; */
    background-size: 1374px 634px
    }

    .profile-pic {
        height: 90px;
          width: 80px;
      }
      
      .app-header .nav-item {
        color: white;
    }
    
    .modal-header {
        background-color: lightgray;
        padding: 0rem 0rem;
      }
      
      .card-footer:last-child {
        padding-left: 0px;
        padding-top: 11px;
        padding-right: 0px;
        padding-bottom: 0px;
        background-color: transparent;
      }
      
      .modal-header .close {
        padding: 1rem 1rem;
        margin: 0rem 0rem 0rem auto;
    }


    .blinking{
      animation:blinkingText 1.2s infinite;
  }

  @keyframes blinkingText{
      0%{   background-color: red; color: white;  }
      50%{   background-color: yellow; color: black; }
      100%{    background-color: red; color: white;  }
  }


 
  /* .blinkingstatusonline{
    animation:blinkingStatus 1.2s infinite;
}
@keyframes blinkingStatus{
    0%{   background-color: green; color: white; }
} */

  .status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;
  }
  
  .green {
    background-color: #00ff43;
  }
  
  .orange {
    background-color: #ff725d;
  }
  
  .blue {
    background-color: #6fbced;
    margin-right: 0;
    margin-left: 7px;
  }








  /* .contact-status {
    border: 2px solid #32465a !important;
  } */



  .status {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 7px;

    border-left-style: ridge;
    border-right-style: groove;
    border-top-style: ridge;
    border-bottom-style: groove;
  }
  
  .green {
    background-color: #58b666;
  }
  
  .orange {
    background-color: #ff725d;
  }








  *{
    box-sizing:border-box;
  }
  body{
    background-color:#abd9e9;
    font-family:Arial;
  }
  #container{
    width:750px;
    height:800px;
    background:#eff3f7;
    margin:0 auto;
    font-size:0;
    border-radius:5px;
    overflow:hidden;
  }
  aside{
    width:260px;
    height:800px;
    background-color:#3b3e49;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  }
  /* main{
    width:490px;
    height:800px;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
  } */
  
  aside header{
    padding:30px 20px;
  }
  aside input{
    width:100%;
    height:50px;
    line-height:50px;
    padding:0 50px 0 20px;
    background-color:#5e616a;
    border:none;
    border-radius:3px;
    color:#fff;
    background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
    background-repeat:no-repeat;
    background-position:170px;
    background-size:40px;
  }
  aside input::placeholder{
    color:#fff;
  }
  aside ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:690px;
  }
  aside li{
    padding:10px 0;
  }
  aside li:hover{
    background-color:#5e616a;
  }
  h2,h3{
    margin:0;
  }
  aside li img{
    border-radius:50%;
    margin-left:20px;
    margin-right:8px;
  }
  aside li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
  }
  aside li h2{
    font-size:14px;
    color:#fff;
    font-weight:normal;
    margin-bottom:5px;
  }
  aside li h3{
    font-size:12px;
    color:#7e818a;
    font-weight:normal;
  }
  
  .status{
    width:8px;
    height:8px;
    border-radius:50%;
    display:inline-block;
    margin-right:7px;
  }
  .green{
    background-color:#58b666;
  }
  .orange{
    background-color:#ff725d;
  }
  .blue{
    background-color:#6fbced;
    margin-right:0;
    margin-left:7px;
  }
  
  main header{
    height:110px;
    padding:30px 20px 30px 40px;
  }
  main header > *{
    display:inline-block;
    vertical-align:top;
  }
  main header img:first-child{
    border-radius:50%;
  }
  main header img:last-child{
    width:24px;
    margin-top:8px;
  }
  main header div{
    margin-left:10px;
    margin-right:145px;
  }
  main header h2{
    font-size:16px;
    margin-bottom:5px;
  }
  main header h3{
    font-size:14px;
    font-weight:normal;
    color:#7e818a;
  }
  
  #chat{
    padding-left:0;
    margin:0;
    list-style-type:none;
    /* overflow-y:scroll; */
    height:535px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
  }
  #chat li{
    /* padding:10px 30px; */
    padding: 0px 7px;
  }
  #chat h2,#chat h3{
    display:inline-block;
    font-size:13px;
    font-weight:normal;
  }
  #chat h3{
    color:#bbb;
  }
  #chat .entete{
    margin-bottom:5px;
  }
  #chat .message{
    padding:20px;
    color:#fff;
    line-height:0px;
    max-width:90%;
    display:inline-block;
    text-align:left;
    border-radius:5px;
  }
  #chat .me{
    text-align:right;
  }
  #chat .you .message{
    /* background-color:#58b666; */
    background-color: #ffc107;
  }
  #chat .me .message{
    /* background-color:#6fbced; */
    background-color: #ed6f6f;
  }
  #chat .triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
  #chat .you .triangle{
      border-color: transparent transparent #58b666 transparent;
      margin-left:15px;
  }
  #chat .me .triangle{
      border-color: transparent transparent #6fbced transparent;
      margin-left:375px;
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    /* overflow-x: auto; */
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

  /* main footer{
    height:155px;
    padding:20px 30px 10px 20px;
  }
  main footer textarea{
    resize:none;
    border:none;
    display:block;
    width:100%;
    height:80px;
    border-radius:3px;
    padding:20px;
    font-size:13px;
    margin-bottom:13px;
  }
  main footer textarea::placeholder{
    color:#ddd;
  }
  main footer img{
    height:30px;
    cursor:pointer;
  }
  main footer a{
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    color:#6fbced;
    vertical-align:top;
    margin-left:333px;
    margin-top:5px;
    display:inline-block;
  } */














  .container {
    max-width: 500px;
    margin: auto;
  }
  
  .chat_header{
    color: #808f05
  }
  
  img {
    max-width: 100%;
  }
  
  .inbox_people {
    background: #f8f8f8 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%;
    border-right: 1px solid #c4c4c4;
  }
  
  .inbox_msg {
    border: 1px solid #c4c4c4;
    clear: both;
    overflow: hidden;
  }
  
  .top_spac {
    margin: 20px 0 0;
  }
  
  
  .recent_heading {
    float: left;
    width: 40%;
  }
  
  .srch_bar {
    display: inline-block;
    text-align: right;
    width: 60%;
    /* padding: */
  }
  
  .headind_srch {
    padding: 10px 29px 10px 20px;
    overflow: hidden;
    border-bottom: 1px solid #c4c4c4;
  }
  
  .recent_heading h4 {
    color: #808f05;
    font-size: 21px;
    margin: auto;
  }
  
  .srch_bar input {
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;
    width: 80%;
    padding: 2px 0 4px 6px;
    background: none;
  }
  
  .srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    padding: 0;
    color: #707070;
    font-size: 18px;
  }
  
  .srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
  }
  
  .chat_ib h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
  }
  
    .chat_ib h5 span {
      font-size: 13px;
      float: right;
    }
  
  .chat_ib p {
    font-size: 14px;
    color: #989898;
    margin: auto
  }
  
  .chat_img {
    float: left;
    width: 11%;
  }
  
  .chat_ib {
    float: left;
    padding: 0 0 0 15px;
    width: 88%;
  }
  
  .chat_people {
    overflow: hidden;
    clear: both;
  }
  
  .chat_list {
    border-bottom: 1px solid #c4c4c4;
    margin: 0;
    padding: 18px 16px 10px;
  }
  
  .inbox_chat {
    height: 550px;
    overflow-y: scroll;
  }
  
  .active_chat {
    background: #ebebeb;
  }
  
  .incoming_msg_img {
    display: inline-block;
   
  }
  
  .received_msg {
    display: inline-block;
    padding: 0 0 0 0px;
    vertical-align: top;
    width: 92%;
  }
  
  .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 0px 0 5px;
  }
  
  .received_withd_msg {
    width: 95%;
  }
  
  .mesgs {
    padding: 10px 10px 0 10px;
  }
  
  .sent_msg p {
    background: #808f05 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  
  .outgoing_msg {
    overflow: hidden;
  }
  
  .sent_msg {
    float: right;
    width: 85%;
  }
  
  .input_msg_write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
  }
  
  .type_msg {
    border-top: 1px solid #c4c4c4;
    position: relative;
  }
  
  .msg_send_btn {
    background: #808f05 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
  }
  
  .messaging {
    padding: 0 0 50px 0;
  }
  
  .msg_history {
    height: 516px;
    overflow-y: auto;
  }






  


























  body,html{
    height: 100%;
    margin: 0;
    background: #7F7FD5;
       background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
  }

  .chat{
    margin-top: auto;
    margin-bottom: auto;
  }
  .card{
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
  }
  .contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
  }
  .msg_card_body{
    /* overflow-y: auto; */
  }
  .card-header{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
  }
 .card-footer{
  border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
  .container{
    align-content: center;
  }
  .search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
  }
  .search:focus{
       box-shadow:none !important;
         outline:0px !important;
  }
  .type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
  }
    .type_msg:focus{
       box-shadow:none !important;
         outline:0px !important;
  }
  .attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }
  .send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }
  .search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
  }
  .contacts{
    list-style: none;
    padding: 0;
  }
  .contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
  }
.active{
    background-color: rgba(0,0,0,0.3);
}
  .user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;
  
  }
  .user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;
  
  }
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
  position: absolute;
  height: 15px;
  width:15px;
  background-color: #4cd137;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0.4em;
  border:1.5px solid white;
}
.offline{
  background-color: #c23616 !important;
}
.user_info{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}
.user_info span{
  font-size: 20px;
  color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
  margin-left: 50px;
  margin-top: 5px;
}
.video_cam span{
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}
.msg_cotainer{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border-radius: 25px;
  background-color: #82ccdd;
  padding: 10px;
  position: relative;
  width: 170px;
}
.msg_cotainer_send{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #78e08f;
  padding: 10px;
  position: relative;
  width: 170px;
}
.msg_time{
  /* position: absolute; */
  /* left: 0; */
  /* bottom: -15px; */
  /* bottom: -36px; */
  color: rgba(255,255,255,0.5);
  font-size: 10px;
}
.msg_time_send{
  position: absolute;
  right:0;
  bottom: -15px;
  color: rgba(255,255,255,0.5);
  font-size: 10px;
}
.msg_head{
  position: relative;
}
#action_menu_btn{
  position: absolute;
  right: 10px;
  top: 10px;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
.action_menu{
  z-index: 1;
  position: absolute;
  padding: 15px 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 15px;
  top: 30px;
  right: 15px;
  display: none;
}
.action_menu ul{
  list-style: none;
  padding: 0;
margin: 0;
}
.action_menu ul li{
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 5px;
}
.action_menu ul li i{
  padding-right: 10px;

}
.action_menu ul li:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
  margin-bottom: 15px !important;
}
}

.setdelete {
  /* position: absolute; */
  /* z-index: 1; */
  z-index: 999999999;
  /* background-color: white; */
  color: red;
}



.badge-pill {
  padding: 5px;
  border-radius: 17px;
  /* width: 120px; */
  font-size: medium;
  /* font-weight: normal; */
}