<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong>Add Category</strong> 
            </div>
            
            <div class="card-body">
         
                <div class="form-group row">
                    <div class="col-sm-6">
                      <label class="text-input">Category</label>       
                        <input type="text" id="cname" name="cname" [(ngModel)]="category.cname" class="form-control" placeholder="Enter category">
                    </div>
                </div>

            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success" (click)="addCategory()"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="submit" class="btn btn-sm btn-primary" (click)="viewCategoryForm()">View</button>

            </div>

    </div>
</div>