<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <strong>Add Subategory</strong> 
            </div>
            <div class="card-body">

                <div class="form-group row">
                    <div class="col-sm-6">
                      <label for="category">Category</label>
                        <select name="cid" class="form-control" [(ngModel)]="subcategory.cid">
                          <option value="0" selected>Select category</option>
                          <option *ngFor="let item of categoryDetails;" name="cname" value={{item.cid}}>{{item.cname}}</option>
                       </select>
                     </div>
                 </div>
                 <div class="form-group row">
                    <div class="col-sm-6">
                      <label class="text-input">Subcategory</label>            
                      <input type="text" id="sname" name="sname" [(ngModel)]="subcategory.sname" class="form-control" placeholder="Enter Subcategory">         
                    </div>
                </div>
                </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-success" (click)="addSubcategory()">Submit</button>
              <button type="submit" class="btn btn-sm btn-primary" (click)="viewSubcategoryForm()">View</button>

            </div>
          </div>
 </div>