<div class="container">
​
  <!-- <h1>Google Map</h1>
  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
      placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
​
  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
​
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
    
  </agm-map>
​
  <h5>Address: {{address}}</h5>
  <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div>
​
​
</div> -->
<!-- <agm-map #map [zoom]="16" [latitude]="centerlat" [longitude]="centerlng">
    <agm-marker [opacity]=0.8 [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map> -->

<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->
  
<!-- <router-outlet></router-outlet> -->