<div class="row" style="padding: 0;" >
<div class="col-lg-12">
  <div class="card">
    <div class="card-header color">

      Sales Details
    </div>
    <!-- <div style="overflow-x:auto;"> -->
    <div class="card-body table-responsive">
      <div class="form-inline md-form mr-auto mb-4">
        <input style="float: right;" (input)="onsearch()" class="form-control mr-sm-2" type="text" [(ngModel)]="search_" placeholder="Search" aria-label="Search">
       </div>
      <table class="table table-bordered btn-center ">
        <thead>
          <tr class="table-success">
            <!-- <th>Sr.no</th> -->
            <!-- <th>ID</th> -->
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Adhar No.</th>
            <th>Address</th>
            <th style="width: 128px;">Password Reset</th>
            <th>Action</th>
            <th>IsActive</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of salesDetails;let i=index;">
            <!-- <td style="text-align: center">{{i+1}}</td> -->
            <!-- <td>{{item.id}}</td> -->
            <td style='text-align:center' class="sales-img">
              <img style="max-width: 50px; max-height: 50px;" *ngIf ="item.image"
              [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+item.image">
             <img style="max-width: 50px; max-height: 50px;"  *ngIf ="!item.image"
                [src]="'/assets/img/avatars/admin.png'">
            </td>
            <td>{{item.salesName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.mobile}}</td>
            <td>{{item.adharcard}}</td>
            <td>{{item.address}}</td>
            <td style="text-align: center">
              <!-- <button class='btn btn-black' type="button" data-toggle="modal" (click)="openmodal(content)"><i
                class="fa fa-key" aria-hidden="true"></i>
            </button> -->
            <span class="fa-passwd-reset fa-stack" data-toggle="modal" (click)="password_reset_modal(item,password_reset)">
              <i class="fa fa-undo fa-stack-2x"></i>
              <i class="fa fa-lock fa-stack-1x"></i>
            </span>
            </td>
            <td style="text-align: center">
              <!-- <button class='btn btn-danger' type="button" (click)="deleteSales(item.id)"><i class="fa fa-trash" aria-hidden="true"></i></button> -->
              <button class='btn btn-danger' type="button" data-toggle="modal" (click)="openmodal(content)"><i
                  class="fa fa-trash" aria-hidden="true"></i>
              </button>

              <ng-template #content let-modal>
                <div class="modal-header">
                  <h4 id="dialog-sizes-name1"  class="modal-title pull-right">Profile Deletion</h4>
                  <div>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>

                <div class="modal-body1">
                  <div >
                    <div class="modal-body">
                      <p style="margin-top: -28px;"><strong>Are you sure you want to delete <span class="text-primary">{{item.salesName}}</span> profile?</strong></p>
                      <p style=" margin-top: -18px;">All information associated to this user profile will be permanently deleted.
                        <span class="text-danger">This operation can not be undone.</span>
                        </p>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal-body"
                      (click)="modalService.dismissAll()">No</button>
                    <button class='btn btn-danger' type="button" (click)="deleteSales(item.id)">Yes</button>
                   </div>
                  </div>
                </div>
              </ng-template>


            </td>
            <td>
              <button *ngIf="item.isActive" class='btn btn-success' type="button" (click)="changeStatus(item.id)"><i
                  class="fa fa-check-circle"></i></button>
              <button *ngIf="!item.isActive" class='btn btn-danger' type="button" (click)="changeStatus(item.id)"><i
                  class="fa fa-times"></i></button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="message" *ngIf="salesDetails.length <= 0">
        <p>No Record Found</p>
      </div>


    </div>
    <!-- <ul class="pagination" style="margin-left: 600px;">
      <li class="page-item active" *ngFor="let item of totalPageList " (click)="SalesList(item)">
          <a class="page-link" routerLink="/admin/salesdata">
            <span class="sr-only"></span>{{item.pageSize}}</a>
      </li>
    </ul> -->
    <div class="card-footer">
      <ul class="pagination" >
  
        <li class="page-item" class="page-item first-item" [ngClass]="{disabled:currentPageIndex === 0}">
          <a class="page-link" (click)="SalesList({ pageIndex: 0 })"><i class="fa fa-step-backward"></i></a>
      </li>
      <li class="page-item" [ngClass]="{disabled:currentPageIndex === 0}" class="page-item previous-item">
          <a (click)="SalesList({pageIndex:currentPageIndex -1})" class="page-link" routerLink="/admin/salesdata"> <i class="fa fa-angle-double-left"></i></a>
      </li>
        <li class="page-item active" *ngFor="let item of totalPageList " [ngClass]="{active:currentPageIndex === item.pageIndex}" class="page-item number-item" (click)="SalesList(item)">
            <a class="page-link" routerLink="/admin/salesdata">
              <span class="sr-only"></span>{{item.pageSize}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:currentPageIndex === totalPageSize-1}" class="page-item next-item">
          <a (click)="SalesList({pageIndex:currentPageIndex +1})" class="page-link" routerLink="/admin/salesdata"><i class="fa fa-angle-double-right"></i></a>
      </li>
      <li class="page-item" class="page-item last-item" [ngClass]="{disabled:currentPageIndex === totalPageSize-1}">
          <a class="page-link" (click)="SalesList({pageIndex:totalPageSize-1})"><i class="fa fa-step-forward"></i></a>
      </li>
      </ul>
  </div>
  </div>
</div>

</div>











<ng-template #password_reset let-modal>


          <div class="col-md-14">
            <div class="card-group">
              <div class=" p-2">
                <div class="card-body">
  
                  <h3>Forgot Password?</h3>
                  <p class="text-muted"></p>
                  <p>
                    Enter your e-mail address / mobile number below to reset your password.
                  </p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    <input type="text" class="form-control placeholder-no-fix" placeholder="Email/Mobile No."
                    [(ngModel)]="user.email" name="email" autocomplete="email" required>
                  </div>
  
                  <div class="form-actions">
                   
                    <button type="button" id="id_btn_forgotpassword" class="btn btn-info pull-right" (click)="Sendmail()">
                      Submit </button>
                  </div>
  
                </div>
              </div>
              <!-- <div class="copyright">
                2019 - <span id="currentYearField">2020</span> © Sales Tracking System. All Rights Reserved.
              </div> -->
            </div>
          </div>

</ng-template>
