.btn-center tr td:last-child{
    text-align: center;
}
  

.color{
    background-color: lightskyblue;
}

.message {
    text-align: center;
}

.modal-body1{
    color: black; 
    height: 141px;
    width: 496px;
}
.modal-body {
    height: 78px;
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 2rem;
}

.modal-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #c8ced3;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
}

.modal-title {
    margin-bottom: 0;
    line-height: 0.5;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: none;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    top: 191px;
}
   


.modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}


.sales-img {
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 22px;
    height: 76px;
    border-left-width: 1px;
    padding-top: 12px;
    padding-bottom: 12px;
}

/* element.style {
    width: 22px;
} */