// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

@import 'ngx-toastr/toastr';


// img.navbar-brand-full {
//     animation: rotation 2s infinite linear;
//   }
  
//   @keyframes rotation {
//     from {
//       transform: rotate(0deg);
//     }
//     to {
//       transform: rotate(359deg);
//     }
//   }




