<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Add Products</strong>
        </div>
        <div class="card-body">
          <div class="form-group row">
            <div class="col-sm-6">
              <label class="text-input">Category</label>
              <div class="form-inline">
                <select name="cid" class="form-control" [(ngModel)]="product.cid"
                  (change)="onCategoryChange($event.target.value)">
                  <option [value]="undefined" selected>Select category</option>
                  <option *ngFor="let item of categoryDetails;" name="cname" value={{item.cid}}>{{item.cname}}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <label class="text-input">Subcategory</label>
              <div class="form-inline">
                <select name="sid" class="form-control" [(ngModel)]="product.sid">
                  <option [value]="undefined" selected>Select subcategory</option>
                  <option *ngFor="let item of subcategoryDetails;" name="sname" value={{item.sid}}>{{item.sname}}
                  </option>
                </select>
              </div>

            </div>

          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <label class="text-input">Product Name</label>
              <input type="text" id="productname" name="productname" [(ngModel)]="product.productname"
                class="form-control" placeholder="Enter product name">

              <label class="text-input">Product Price</label>
              <input type="number" id="price" name="price" [(ngModel)]="product.price" class="form-control"
                placeholder="Enter price">
            </div>

            <div class="col-sm-6">
              <label class="textarea-input">Product Description</label>
              <textarea #descrip id="description" name="description" maxlength="150"  [(ngModel)]="product.description" rows="5"
                class="form-control" placeholder="Enter description"></textarea>
                Total characters allowed  {{descrip.value.length}} / 150
            </div>
          </div>


          <div class="form-group row">
            <!-- <div class="col-sm-6">
                  <label class="text-input">Product Image</label>    
                  <div>
                   <input  type="file" id="fileupload" name="image"  multiple (change)="handleFileInput($event.target.files)" [(ngModel)]="product.imageList" />                      
                  </div> 
                </div> -->

                <div class=" col-sm-6">
                  <div id='photos-preview'>
                    <label for="Product">Select Product Image</label><br>
                    <input type="file" id="fileupload" multiple (change)="handleFileInput($event.target.files)"
                      [(ngModel)]="product.imageList" /><br><br>

                    <div *ngFor="let image of tempImageList;let i=index;" class="float-left">
                      <div class="row">
                        <div  class="col-1">
                          <img [src]="image.ImageData" height="100px" width="100px">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            <!-- <div class="col-sm-6">
              <label class="text-input">Added on</label>
              <input class="form-control" id="date" type="date" name="date" [(ngModel)]="product.date">
            </div> -->
          </div>
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-sm btn-primary" (click)="submitForm()"><i class="fa fa-dot-circle-o"></i>
            Submit</button>
          <button type="reset" class="btn btn-sm btn-danger" (click)="resetForm()"><i class="fa fa-ban"></i>
            Reset</button>
          <button type="submit" class="btn btn-sm btn-primary" (click)="viewProductForm()">View</button>

        </div>
      </div>
    </div>