<!-- <div class="container">
  ​
    <h1>Google Map</h1>
    <div class="form-group">
      <label>Enter address</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()"
        placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
    </div>
  ​
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>
    </agm-map>
  ​
    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
  </div> -->


<div class="agm-map">

  <!-- <input  autocapitalize="off" autocorrect="off" class="form-control" placeholder="Search Nearest Location" spellcheck="off" type="text" autocomplete="off"> -->

  <!-- <input #search autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"> -->
  <!-- <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div> -->

  <agm-map #map [zoom]="10" [latitude]="centerlat" [longitude]="centerlng">
    <!-- Admin Location -->
    <agm-marker [iconUrl]="iconAdmin" [opacity]=0.8 [latitude]="lat" [longitude]="lng" [markerDraggable]="false">
    </agm-marker>

    <!-- All Sales Location -->
    <agm-marker *ngFor="let addr of Sales_LocationDetails;" [iconUrl]="iconSales" style="color:blue" [opacity]=0.8
      [latitude]="addr.latitude" [longitude]="addr.longitude" [markerDraggable]="false"
      (dragEnd)="markerDragEnd($event)">

      <!-- Sales info window -->
      <!-- <agm-info-window [isOpen]="isInfoWindowOpen(addr.salesname)" [latitude]="addr.latitude"
        [longitude]="addr.longitude">{{addr.salesname}}
      </agm-info-window> -->

      <!-- Sales info window -->
      <agm-info-window [latitude]="addr.latitude" [longitude]="addr.longitude">
        <div>
          <img style="max-width: 50px; max-height: 50px;" *ngIf="addr.image"
            [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+addr.image">
          <img style="max-width: 50px; max-height: 50px;" *ngIf="!addr.image" [src]="'/assets/img/avatars/admin.png'">
        </div>
        <div> <label style="font-weight: bold;">Name:</label><a style="margin-left: 13px;">{{addr.salesname}}</a></div>
        <div> <label style="font-weight: bold;">Contact:</label> <a>{{addr.mobile}}</a></div>
      </agm-info-window>

    </agm-marker>

    <agm-circle [latitude]="lat + 0.0" [longitude]="lng" [radius]="5000" [fillColor]="'red'" [circleDraggable]="false"
      [editable]="false">
    </agm-circle>



    <!-- <agm-circle *ngFor="let addr of Sales_LocationDetails;" [latitude]="addr.latitude" [longitude]="addr.longitude" [radius]="5000" [fillColor]="'green'">
    </agm-circle> -->

  </agm-map>

  <h5>Admin:</h5>
  <div>Latitude: {{centerlat}}</div> {{address}}
  <div>Longitude: {{centerlng}}</div>

</div>

<!--[iconUrl]="'Documents/Images/Product/Thumb/'+addr.latitude">-->