<div class="row" style="padding: 0;">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header color">
        Activity Details
        <button type="submit" tooltip=" Create new activity" style="float: right; width: 35px;"
          class="btn btn-sm btn-success" (click)="addnewActivity()"><i class="fa fa-plus"></i></button>
      </div>
      <!-- <div style="overflow-x:auto;"> -->
      <div class="card-body table-responsive">

        <!-- SEARCH -->
        <div class="form-inline md-form mr-auto mb-4">

          <input style="float: right;" (input)="onsearch()" class="form-control mr-sm-2" type="text"
            [(ngModel)]="search_" placeholder="Search" aria-label="Search">
          <i class="fa fa-search" aria-hidden="true"></i>
          <label class="text-input" style="padding-left: 9px; padding-right: 9px;">From</label>
          <i class="fa fa-calendar" aria-hidden="true"> <input class="form-control" id="date" type="date"
              name="appointmentDate" [(ngModel)]="from_date" (input)="onsearch()"></i>

          <label class="text-input" style="padding-left: 11px;
         padding-right: 9px;">To</label>
          <i class="fa fa-calendar" aria-hidden="true">
            <input class="form-control" id="date" type="date" name="appointmentDate" [(ngModel)]="to_date"
              (input)="onsearch()"> </i>
        </div>



        <table class="table table-bordered  btn-center">
          <thead>
            <tr class="table-success">
              <!-- <th>Sr.no</th> -->
              <th>Title</th>
              <th>Description</th>
              <th>Client</th>
              <th>Sales</th>
              <th>Contact</th>
              <th>Appointment Date</th>
              <th>Status</th>
              <th>Track</th>
              <!-- <th>Invoice</th> -->
              <th style="padding-right: 50px;">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of activityDetails;let i=index;">
              <!-- <td style="text-align: center">{{i+1}}</td> -->
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              <td>{{item.clientName}}</td>
              <td>{{item.salesName}}</td>
              <td>{{item.contact}}</td>
              <td>{{item.appointmentDate}}</td>
              <td class="status-center">
                <span *ngIf="(item.status == 1)" class="badge badge-pill badge-success">{{item.statusname}}</span>
                <span *ngIf="(item.status == 2)" class="badge badge-pill badge-secondary">{{item.statusname}}</span>
                <span *ngIf="(item.status == 3)" class="badge badge-pill badge-warning">{{item.statusname}}
                  <i class="fa fa-info-circle" *ngIf="item.description_on_Followup"
                    tooltip="{{item.description_on_Followup}}"></i>
                </span>
                <span *ngIf="(item.status == 4)" class="badge badge-pill badge-danger">{{item.statusname}}</span>
                <span *ngIf="(item.status == 5)" class="badge badge-pill badge-dark">Canceled</span>
                <span *ngIf="(item.status == 6)" class="badge badge-pill badge-light">{{item.statusname}}</span>
              </td>

              <td>
                <i class="fa fa-map-marker map" (click)="Get_Lat_Long_of_Activity(item.aid)"
                  (click)="open_map_modal(map)"></i>
              </td>
              <!-- <td>
                <button (click)="GeneratePdf('open')"><i class="fa fa-download" aria-hidden="true"></i></button>
              </td> -->
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  (click)="openupdatemodal(content,item,i); GetProduct_Activity(item.aid)"><i class="fa fa-edit"
                    aria-hidden="true"></i></button>

                <button class='btn btn-danger' type="button" (click)="onDelete(item.aid)"><i class="fa fa-trash"
                    aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="message" *ngIf="activityDetails.length <= 0">
          <p>No Record Found</p>
        </div>

      </div>
      <div class="card-footer">
        <ul class="pagination">

          <li class="page-item" class="page-item first-item" [ngClass]="{disabled:currentPageIndex === 0}">
            <a class="page-link" (click)="eachactivityList({ pageIndex: 0 })"><i class="fa fa-step-backward"></i></a>
          </li>
          <li class="page-item" [ngClass]="{disabled:currentPageIndex === 0}" class="page-item previous-item">
            <a (click)="eachactivityList({pageIndex:currentPageIndex -1})" class="page-link"
              routerLink="/admin/activity/currentactivity"> <i class="fa fa-angle-double-left"></i></a>
          </li>
          <li class="page-item active" *ngFor="let item of totalPageList "
            [ngClass]="{active:currentPageIndex === item.pageIndex}" class="page-item number-item"
            (click)="eachactivityList(item)">
            <a class="page-link" routerLink="/admin/activity/currentactivity">
              <span class="sr-only"></span>{{item.pageSize}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:currentPageIndex === totalPageSize-1}" class="page-item next-item">
            <a (click)="eachactivityList({pageIndex:currentPageIndex +1})" class="page-link"
              routerLink="/admin/activity/currentactivity"><i class="fa fa-angle-double-right"></i></a>
          </li>
          <li class="page-item" class="page-item last-item" [ngClass]="{disabled:currentPageIndex === totalPageSize-1}">
            <a class="page-link" (click)="eachactivityList({pageIndex:totalPageSize-1})"><i
                class="fa fa-step-forward"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>











<!--   EDIT Total Activity  & add new activities -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 id="dialog-sizes-name1" style="color: black;" class="modal-title pull-right">Update</h4>
    <div>
      <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"> -->
      <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">

        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div class="modal-body" style="color: black;">

    <div>
      <button class="form-control btn btn-primary download-invoice" (click)="GeneratePdf('open')"><i
          class="fa fa-download" aria-hidden="true"></i></button>

      <tabset>
        <tab heading="Edit" id="tab1">
          <div class="form-group row">
            <div class="col-md-3">
              <label>Title</label>
              <input type="text" id="title" name="title" [(ngModel)]="update_activity.title" class="form-control">
            </div>
            <div class="col-md-2">
              <label for="select1">Client Name</label>
              <select name="clientName" class="form-control" [(ngModel)]="update_activity.clientId">
                <option [ngValue]="undefined" selected>Select client Name</option>
                <option *ngFor="let item of clientDetails;" name="clientName" [ngValue]="item.id">{{item.clientName}}
                </option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="select1">Sales Name</label>
              <select name="clientName" class="form-control" [(ngModel)]="update_activity.salesId">
                <option [ngValue]="undefined" selected>Select Sales Name</option>
                <option *ngFor="let item of salesDetails;" name="salesName" [ngValue]="item.id">{{item.salesName}}
                </option>
              </select>
            </div>

            <div class="col-sm-2">
              <label for="contact">Contact no.</label>
              <input type="text" class="form-control" id="contact" [(ngModel)]="update_activity.contact "
                name="contact " placeholder="Enter contact no.">
            </div>

            <div class="col-sm-2">
              <label class="text-input">Appointment Date</label>
              <input class="form-control" id="date" type="date" name="appointmentDate"
                [(ngModel)]="update_activity.appointmentDate">
            </div>

          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label>Description</label>
              <textarea type="text" id="description" name="description" [(ngModel)]="update_activity.description"
                rows="3" class="form-control" placeholder="Enter description"></textarea>
            </div>
            <div class="col-md-6">
            </div>
          </div>









          <!-- Add new additional products -->

          <div class="card-body table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Sr.no</th>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Qty*</th>
                  <th>Amount</th>
                  <th>Dis. (%)</th>
                  <th>Dis amt</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>

                <tr *ngFor="let products of addproductlistDetails;let i=index;">
                  <td>{{i+1}}</td>
                  <td>
                    <select id="productname" name="productname" class="form-control" [(ngModel)]="products.productId"
                      (change)="onProductChange($event.target.value,i)">
                      <option [ngValue]="undefined" selected>Select Product Name</option>
                      <option *ngFor="let item of productDetails;" value={{item.id}}>{{item.productname}} </option>
                    </select>
                  </td>
                  <td>
                    {{products.price}}
                  </td>
                  <td>
                    <input type="text" class="form-control" id="quantity" name="quantity" #quantity
                      [(ngModel)]="products.quantity"
                      (keyup)="TotalAmount(products.price,quantity.value,dis_per.value,i)">
                  </td>
                  <td>
                    {{products.amount}}
                  </td>

                  <td>
                    <input #dis_per type="text" class="form-control" id="discount_per" name="discount_per"
                      [(ngModel)]="products.discount_per"
                      (keyup)="TotalAmount(products.price,quantity.value,dis_per.value,i)">
                  </td>
                  <td>
                    {{products.discount_amt}}
                  </td>
                  <td>
                    {{products.total_price}}
                  </td>
                </tr>

              </tbody>
            </table>

            <div class="col-sm-1 add_product ">
              <!-- <button type="submit" tooltip="Add more products" class="form-control btn btn-sm btn-success"
                style="width: 38px; height: 30px;" (click)="addMoreproducts()"><i class="fa fa-plus"></i> </button> -->
              <button type="submit" tooltip="Add products" class="form-control btn btn-sm btn-success"
                style="width: 38px; height: 30px;" (click)="Update_n_addproducts(update_activity.aid)"><i
                  class="fa fa-plus"></i> </button>
            </div>

          </div>












          <!-- View Old & Newly Product List -->

          <div class="card-body table-responsive">
            <div class="form-group row">
              <div class="col-sm-12">
                <table class="table">
                  <thead class="color">
                    <tr>
                      <th style="padding-right: 50px;">Action</th>
                      <th>Sr.</th>
                      <th>Product Name</th>
                      <th>Price</th>
                      <th>Qty</th>
                      <th>Amt</th>
                      <th>Dis. (%)</th>
                      <th>Dis. Amt</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>


                    <tr *ngFor="let products of activity_productDetails;let i=index;">
                      <td> <button type="button" class="btn btn-primary" data-toggle="modal"
                          (click)="open_productupdatemodal(content1,products)">
                          <i class="fa fa-edit" aria-hidden="true"></i></button>

                        <button class='btn btn-danger' type="button"
                          (click)="onProductDelete(products.productId,products.aid)">
                          <i class="fa fa-trash" aria-hidden="true"></i></button>
                      </td>
                      <td>{{i+1}}</td>
                      <td>
                        {{products.productname}}
                      </td>
                      <td>
                        {{products.price}}
                      </td>
                      <td>
                        {{products.quantity}}
                      </td>
                      <td>
                        {{products.amount}}
                      </td>
                      <td>
                        {{products.discount_per}}
                      </td>
                      <td>
                        {{products.discount_amt}}
                      </td>
                      <td>
                        {{products.total_price}}
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>

          </div>
          <hr>



          <div class="form-group ">
            <div class="col-sm-3" style="float: right;">
              <div>
                <label>Subtotal </label><label style="padding-left: 55px;">{{total | currency: "INR"}}</label>
              </div>
              <div>
                <label>Dis. amt </label><label
                  style="padding-left: 59px;">{{total_dis_amount | currency: "INR"}}</label>
              </div>
              <!-- <div *ngIf="update_activity.advance_payment == 0"></div> -->
              <div>
                <label>Adv. Payment </label>
                <input #adv_payment type="text" style="width: 104px; margin-left: 20px;" id="adv_payment"
                  name="adv_payment" [(ngModel)]="update_activity.advancepay"
                  (keyup)=" Total_pending_amt(adv_payment.value)">
                  <!-- <input #adv_payment type="text" style="width: 104px; margin-left: 20px;" id="adv_payment"
                  name="adv_payment" [(ngModel)]="update_activity.advance_payment"
                  (keyup)=" Total_pending_amt(adv_payment.value)"> -->
              </div>
              <div>
                <label>Payment Mode </label>
                <select style="padding-left: 0px; width: 105px; margin-left: 11px;" id="productname" name="productname"
                  [(ngModel)]="update_activity.payment_mode">
                  <option [ngValue]="undefined" selected>Select Payment Mode</option>
                  <option value="Cash">Cash </option>
                  <option value="Cheque">Cheque</option>
                </select>
              </div>
              <div>
                <label>Pending amt </label>
                <label style="padding-left: 32px;">{{update_activity.pendingamount | currency: "INR"}}</label>
                <!-- <label style="padding-left: 32px;">{{pending_amount | currency: "INR"}}</label> -->


                <!-- <label style="padding-left: 32px;">{{this.activityDetails[this.ind].pendingamount | currency: "INR"}}</label> -->

                <!-- <label style="padding-left: 32px;">{{pending_amount | currency: "INR"}}{{this.activityDetails[this.ind].pendingamount}}</label> -->
              </div>
              <div>
                <label>Grand Total </label><label style="padding-left: 39px;"> {{final_total | currency: "INR"}}</label>
              </div>

            </div>
            <div class="clearfix"></div>
          </div>

          <div class="card-footer">

            <button type="submit" class="btn btn-success" (click)="Update(update_activity.aid)">Update</button>
            <button type="button" class="btn btn-outline-info waves-effect ml-auto" data-dismiss="modal-body"
              (click)="modal.dismiss('Cross click')">Cancel</button>
          </div>
        </tab>



        <tab heading="Details">
          <!-- <i class="fa fa-download" aria-hidden="true" (click)="GeneratePdf('open')"></i> -->
          <div *ngFor="let activitydetails of activityInvoiceDetails;let i=index;">
            <div>
              <!-- <div class="clearfix form-control"> -->
              <div>

                <h1>INVOICE</h1>
                <div id="company" class="clearfix">
                  <div>{{user.companyname}}</div>
                  <div>{{user.address}}</div>
                  <div>{{user.mobile}}</div>
                  <div><a>{{user.email}}</a></div>
                </div>
                <div id="project">
                  <div><span style="font-size: 0.9em;">Bill no.</span> {{activitydetails.aid}}</div>

                  <div><span>Title</span> {{activitydetails.title}}</div>
                  <div><span>CLIENT</span> {{activitydetails.description}}</div>
                  <div><span>ADDRESS</span>{{activitydetails.address}}</div>
                  <div><span>EMAIL</span>{{activitydetails.email}}</div>
                  <div><span>DATE</span>{{activitydetails.createdon}}</div>
                  <div><span>DUE DATE</span>{{activitydetails.appointmentDate}}</div>
                </div>
              </div>
              <div>
                <table>
                  <thead>
                    <tr>
                      <th>Sr.no</th>
                      <th class="service">Product</th>
                      <th>PRICE</th>
                      <th>QTY</th>
                      <th>Amount</th>
                      <th>Dis.%</th>
                      <th>TOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let products of activity_productDetails;let i=index;">
                      <td>{{i+1}}</td>
                      <td class="service">{{products.productname}}</td>
                      <!-- <td class="desc">Creating a recognizable design solution based on the company's existing visual identity</td> -->
                      <td class="unit">{{products.price}}</td>
                      <td class="qty">{{products.quantity}}</td>
                      <td class="total">{{products.amount}}</td>
                      <td class="qty">{{products.discount_per}}</td>
                      <td class="total">{{products.total_price}}</td>
                    </tr>

                    <tr>
                      <td colspan="5" style="text-align: right;">SUBTOTAL</td>
                      <td class="total"> {{total | currency: "INR"}}</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="text-align: right;">Total Discount %</td>
                      <td class="total">{{total_dis_per}}%</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="text-align: right;">Advance Paid</td>
                      <td class="total"> {{activitydetails.advancepay | currency: "INR"}}</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="text-align: right;">Pay Due</td>
                      <td class="total"> {{activitydetails.pending_amount | currency: "INR"}}</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="text-align: right;" class="grand total">GRAND TOTAL</td>
                      <td class="grand total">{{final_total | currency: "INR"}}</td>
                    </tr>
                  </tbody>
                </table>
                <div id="notices">
                  <div>NOTICE:</div>
                  <!-- <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div> -->
                </div>
              </div>
              <div>
                Invoice was created on a computer and is valid without the signature and seal.
              </div>
            </div>
          </div>

        </tab>


      </tabset>
    </div>

  </div>
</ng-template>













<!-- Edit  Old Products in activity -->

<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalService.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group row">
      <div class="col-md-2">
        <label for="date">Product Name</label>
        <div class="input-group">
          <select id="productname" name="productname" class="form-control" [(ngModel)]="activity_product.productId"
            (change)="onProductChange($event.target.value)">
            <option [ngValue]="undefined" selected>Select Product Name</option>
            <option *ngFor="let item of productDetails;" value={{item.id}}>{{item.productname}} </option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <label>Price</label>
        <div class="input-group">
          <tr *ngFor="let item of product_priceDetails;">
            <td>
              {{item.price}}
            </td>
          </tr>
        </div>
      </div>

      <div class="col-md-1">
        <label>Quantity</label>
        <div class="input-group">
          <input type="text" class="form-control" id="quantity" name="quantity" [(ngModel)]="activity_product.quantity">
        </div>
      </div>

      <div class="col-md-2">
        <label>Amount</label>
        <div class="input-group">
          <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="activity_product.amount">
        </div>
      </div>

      <div class="col-md-1">
        <label>Dis. (%)</label>
        <div class="input-group">
          <input type="text" class="form-control" id="discount_per" name="discount_per"
            [(ngModel)]="activity_product.discount_per">
        </div>
      </div>

      <div class="col-md-2">
        <label>Dis. amt</label>
        <div>
          <input type="text" class="form-control" id="discount_amt" name="discount_amt"
            [(ngModel)]="activity_product.discount_amt">
        </div>
      </div>

      <div class="col-md-2">
        <label>Total</label>
        <div>
          <input type="text" class="form-control" id="total_price" name="total_price"
            [(ngModel)]="activity_product.total_price">
        </div>
      </div>

    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
      (click)="Update_old_Products(activity_product.aid)">Submit</button>

  </div>
</ng-template>






<!-- Activity Location Modal -->

<ng-template #map let-modal>
  <!-- <div class="modal-header">
  </div> -->
  <div class="modal-body" style="color: black;">
    <div>
      <div>
        <button type="button" class="btn btn-outline-dark shape close" aria-label="Close"
          (click)="modal.dismiss('Cross click')"> <span aria-hidden="true">&times;</span></button>

        <div class="agm-map" *ngFor="let addr of Activity_LocationDetails;">
          <agm-map #map [zoom]="16" [latitude]="centerlat" [longitude]="centerlng">
            <!-- Admin Location -->
            <agm-marker [iconUrl]="iconAdmin" [opacity]=0.8 [latitude]="lat" [longitude]="lng"
              [markerDraggable]="false">
            </agm-marker>

            <!-- Sales Location -->
            <agm-marker [iconUrl]="iconSales" [opacity]=0.8 [latitude]="addr.latitude" [longitude]="addr.longitude"
              [markerDraggable]="false">
              <!-- Sales Info window -->
              <agm-info-window [latitude]="addr.latitude" [longitude]="addr.longitude">
                <div>
                  <img style="max-width: 50px; max-height: 50px;" *ngIf="addr.salesimage"
                    [src]="'http://localhost:55627/Documents/Avatars/Sales/Thumb/'+addr.salesimage">
                  <img style="max-width: 50px; max-height: 50px;" *ngIf="!addr.salesimage"
                    [src]="'/assets/img/avatars/Default_Images/No_image.png'">
                </div>
                <div> <label style="font-weight: bold;">Name:</label><a
                    style="margin-left: 13px;">{{addr.salesname}}</a></div>
                <div> <label style="font-weight: bold;">Contact:</label> <a>{{addr.salescontact}}</a></div>
              </agm-info-window>
            </agm-marker>

            <!-- Client Location -->
            <agm-marker [iconUrl]="iconClient" [opacity]=0.8 [latitude]="addr.lat" [longitude]="addr.lng"
              [markerDraggable]="false">
              <!-- Client Info window -->
              <agm-info-window [latitude]="addr.latitude" [longitude]="addr.longitude">
                <div>
                  <img style="max-width: 50px; max-height: 50px;" *ngIf="!addr.clientimage"
                    [src]="'/assets/img/avatars/Default_Images/No_image.png'">
                </div>
                <div> <label style="font-weight: bold;">Name:</label><a
                    style="margin-left: 13px;">{{addr.clientname}}</a></div>
                <div> <label style="font-weight: bold;">Contact:</label> <a>{{addr.clientcontact}}</a></div>
                <div> <label style="font-weight: bold;">Address:</label> <a>{{addr.clientaddress}}</a></div>
              </agm-info-window>
            </agm-marker>

            <!-- <agm-direction [origin]="origin" [destination]="destination">
            </agm-direction> -->

          </agm-map>

          <div class="form-group">
            <div class="col-md-3" style="float: left;">
              <h5> Sales</h5>
              <div>Latitude: {{addr.latitude}}</div>
              <div>Longitude: {{addr.longitude}}</div>
            </div>
            <div class="col-md-3" style="float: left;">
              <h5> Client</h5>
              <div>Latitude: {{addr.lat}}</div>
              <div>Longitude: {{addr.lng}}</div>
            </div>

            <div>

              <table class="table-bordered named cust-tbl">
                <tbody>
                  <tr>
                    <td class="marker_tag">A</td>
                    <td>Admin</td>
                  </tr>
                  <tr>
                    <td class="marker_tag">S</td>
                    <td>Sales</td>
                  </tr>
                  <tr>
                    <td class="marker_tag">C</td>
                    <td>Client</td>
                  </tr>
                </tbody>
              </table>


            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</ng-template>